<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <h4>Thank you for your order!</h4>
  <h4>email: <%= @order.email %></h4>
  <%= render 'order_details' %>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
