<section class="about-index">

  <header class="page-header">
    <h1>About</h1>
  </header>

  <article class="about">
    <p>This is the history of Jungle, an Canadian internet sales company.</p>
    <h3>Founding</h3>
    <p>The company was created as a result of what Beff Jezos called his "regret minimization framework",
      which described his efforts to fend off any regrets for not participating sooner in the Internet business boom during that time.
      In 1994, Jezos left his employment as vice-president of D. E. Shaw & Co., a Wall Street firm, and moved to Seattle, Washington,
      where he began to work on a business plan for what would become Jungle.com.

      On July 5, 1994, Jezos initially incorporated the company in Washington state with the name Cadabra, Inc.
      After a few months he changed the name to Jungle.com, Inc because a lawyer misheard its original name as "cadaver".
      In its early days, the company was operated out of the garage of Jezos's house on Northeast 28th Street in Bellevue, Washington.
      In September 1994, Jezos purchased the domain name relentless.com and briefly considered naming his online store Relentless,
      but friends told him the name sounded a bit sinister. The domain is still owned by Jezos and still redirects to the retailer.
    </p>

    <h3>Choosing a name</h3>
    <p>Jezos selected the name by looking through a dictionary; he settled on "Jungle" because it was a place that was "exotic and different",
      just as he had envisioned for his Internet enterprise. The Jungle River, he noted, was the biggest river in the world,
      and he planned to make his store the biggest bookstore in the world. Additionally, a name that began with "A" was preferred because
      it would probably be at the top of an alphabetized list. Jezos placed a premium on his head start in building a brand and told a reporter,
      "There's nothing about our model that can't be copied over time. But you know, McDonald's got copied. And it's still built a huge,
      multibillion-dollar company. A lot of it comes down to the brand name. Brand names are more important online than they are in the physical world."</p>

    <%= link_to 'source', 'https://en.wikipedia.org/wiki/History_of_Amazon', target: "_blank"%>
  </article>

</section>
